@import url("cssB6Variables.css");

#menulayer {
    position: absolute;
    opacity : 0;
}

.menulayer_label {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 10vmax;
    height       : 10vmax;
    background   : var(--label-bgcolor);
    border-radius: 0 0 3vmax 0;
    cursor       : pointer;
    z-index      : 10;
    transition   : 1s;
}

#menulayer:checked+.menulayer_label {
    width     : 100%;
    height    : 100%;
    transition: 0.3s;
}

.menulayer_icon {
    position           : absolute;
    top                : 0;
    right              : 0;
    width              : 10vmax;
    height             : 10vmax;
    text-align         : center;
    color              : var(--banner-color);
    -webkit-text-stroke: 2px var(--stroke-color);
}

.menulayer_icon i {
    font-size  : 5vmax;
    line-height: 10vmax;
}

.menulayer_open {
    opacity   : 1;
    transition: 0.3s;
}

.menulayer_close {
    width     : 12.5%;
    opacity   : 0;
    transition: 0.3s;
}

#menulayer:checked+.menulayer_label .menulayer_open {
    opacity   : 0;
    transition: 0.3s;
}

#menulayer:checked+.menulayer_label .menulayer_close {
    opacity   : 1;
    transition: 0.3s;
}