@import url("cssB6Variables.css");

.menulayer_header {
    position  : relative;
    width     : 0;
    height    : 10vmax;
    margin    : 5vmax auto;
    background: transparent;
    text-align: center;
    border    : none;
    z-index   : 100;
}

.menulayer_header::after {
    display   : none;
    transition: 0.25s ease-out;
}

#menulayer:checked+.menulayer_label~.menulayer_header {
    width     : 75%;
    border-top: 4px solid var(--body-bgcolor);
    transition: 0.25s ease-out;
}

#menulayer:checked+.menulayer_label~.menulayer_header::after {
    display   : block;
    transition: 0.5s ease-out;
}

.menulayer_header h1 {
    position           : absolute;
    top                : calc(-9vmax - 2px);
    left               : 50%;
    color              : var(--banner-color);
    -webkit-text-stroke: 2px var(--body-bgcolor);
    transform          : translate(-50%) scale(0);
    font-size          : 6vmax;
    line-height        : 10vmax;
    transition         : 0.1s ease-out;
}

.menulayer_header h1.menulayer_h1_one {
    color              : var(--banner-color);
    -webkit-text-stroke: 2px var(--body-bgcolor);
}

.menulayer_header h1.menulayer_h1_two {
    color              : var(--bubble-bgcolor);
    -webkit-text-stroke: 2px var(--body-bgcolor);
    -webkit-clip-path  : polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    clip-path          : polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

#menulayer:checked+.menulayer_label~.menulayer_header h1 {
    transform : translate(-50%) scale(1);
    transition: 0.5s ease-in;
}