@import url("cssB6Variables.css");

.agree {
    margin     : 0 !important;
    padding    : 0 4em 0 2em;
    width      : 100%;
    color      : var(--banner-color);
    background : var(--bubble-bgcolor);
    font-size  : 1.5em;
    line-height: 2em;
    text-align : center;
}

.popup {
    padding: 1em;
}

.popup i {
    position   : absolute;
    top        : 0;
    right      : 0;
    margin     : 1em;
    color      : var(--banner-color);
    font-size  : 1.5em;
    line-height: 1.5em;
    width      : 2em;
}

.f_right {
    float: right;
}

.popup ol,
.popup ul,
.popup p {
    margin    : 0 1.5em 1.5em;
    text-align: justify;
}