@import url("cssB6Variables.css");

body {
    background: var(--body-bgcolor);
    overflow  : hidden;
}

.banner,
.loader {
    position   : absolute;
    top        : 50%;
    left       : 56%;
    display    : flex;
    padding    : 10% 10%;
    align-items: center;
    background : transparent;
    transform  : translate(-50%, -50%) rotate(0deg);
}

.loader {
    color    : transparent;
    animation: rotate0 21s linear infinite;
    filter   : url(#goo);
}

@keyframes rotate0 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    20% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    80% {
        transform: translate(-50%, -50%) rotate(360deg);

    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);

    }
}

.banner {
    color    : var(--banner-color);
    animation: rotate1 7s linear alternate infinite;
}

@keyframes rotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    20% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    80% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);

    }
}

.txt,
.particle {
    width        : 10vmin;
    height       : 10vmin;
    border-radius: 50%;
}

.particle {
    background: var(--bubble-bgcolor);
}

.txt {
    background: transparent;
}

.txt span {
    position           : absolute;
    top                : 50%;
    left               : 50%;
    transform          : translate(-50%, -50%);
    -webkit-text-stroke: 2px var(--stroke-color);
    font-size          : 7.5vmin;
    font-weight        : 900;
}

.txt:first-child,
.txt:last-child,
.particle:first-child,
.particle:last-child {
    width : 6vmin;
    height: 6vmin;
}

.txt:nth-child(5),
.particle:nth-child(5) {
    width    : 6vmin;
    height   : 6vmin;
    animation: pulse0 4s ease-in-out infinite;
}

@keyframes pulse0 {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: translateY(200%) scale(4)
    }

    80% {
        transform: scale(1)
    }

    100% {
        transform: scale(1);
    }
}

.txt:nth-child(1),
.txt:nth-child(9),
.particle:nth-child(1),
.particle:nth-child(9) {
    animation: pulse1 4s ease-in-out infinite;
}

@keyframes pulse1 {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: scale(0.25)
    }

    80% {
        transform: scale(1)
    }

    100% {
        transform: scale(1);
    }
}

.txt:nth-child(3),
.txt:nth-child(7),
.particle:nth-child(3),
.particle:nth-child(7) {
    width    : 8vmin;
    height   : 8vmin;
    animation: pulse2 4s ease-in-out infinite;
}

@keyframes pulse2 {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: scale(0.4)
    }

    80% {
        transform: scale(1)
    }

    100% {
        transform: scale(1);
    }
}

.leftSpin {
    animation: leftSpin 4s linear infinite;
}

@keyframes leftSpin {
    0% {
        transform: rotate(0deg) translate(0);
    }

    20% {
        transform: rotate(0deg) translate(0);
    }

    80% {
        transform: rotate(360deg) translate(5vmin) scale(1.33);
    }

    100% {
        transform: rotate(360deg) translate(0);
    }
}

.rightSpin {
    animation: rightSpin 4s linear infinite;
}

@keyframes rightSpin {
    10% {
        transform: rotate(360deg) translate(0);
    }

    20% {
        transform: rotate(360deg) translate(0);
    }

    80% {
        transform: rotate(360deg) translate(5vmin) scale(0.75);
    }

    100% {
        transform: rotate(0deg) translate(0);
    }
}
