@import url("b6variables.css");

body {
    background: var(--body-bgcolor);
    overflow: hidden;
}

h1 {
    text-align: center;
}

.banner,
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    padding: 10vh;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(0deg);
}

.loader {
    color: transparent;
    animation: rotate0 120s alternate infinite;
    filter: url('#goo');
}

@keyframes rotate0 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    2% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    8%{
        transform: translate(-50%, -50%) rotate(360deg);

    }
    10%{
        transform: translate(-50%, -50%) rotate(360deg);

    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);

    }
}

.banner {
    color: var(--banner-color);
    animation: rotate1 120s linear alternate infinite;
}

@keyframes rotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    2% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    8% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    10%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.txt,
.particle {
    width: 8vmin;
    height: 8vmin;
    border-radius: 50%;
}

.particle {
    background: var(--bubble-bgcolor);
}

.txt {
    background: transparent;
    text-shadow: 0 0 6px var(--text-shadow-color);
}

.txt span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1px var(--stroke-color);
    font-size: 5vmin;
    font-weight: 900;
}

.txt:first-child,
.txt:last-child,
.particle:first-child,
.particle:last-child {
    width: 10vmin;
    height: 10vmin;
}

.txt:nth-child(5),
.particle:nth-child(5) {
    animation: pulse0 40s ease-in-out infinite;
}

@keyframes pulse0 {
    0% { transform: scale(1)}
    2% { transform: scale(1)}
    4% { transform: scale(2.4)}
    8% {transform: scale(1)}
    10% { transform: scale(1);}
    20% { transform: scale(1)}
    22% { transform: scale(1)}
    24% { transform: scale(2.4)}
    28% {transform: scale(1)}
    30% { transform: scale(1);}
    100% { transform: scale(1);}
}

.txt:nth-child(1),
.txt:nth-child(9),
.particle:nth-child(1),
.particle:nth-child(9) {
    animation: pulse1 30s ease-in-out infinite;
}

@keyframes pulse1 {
    0% { transform: scale(1)}
    2% { transform: scale(1)}
    4% { transform: scale(1.9)}
    8% {transform: scale(1)}
    10% { transform: scale(1);}
    20% { transform: scale(1)}
    22% { transform: scale(1)}
    24% { transform: scale(1.9)}
    28% {transform: scale(1)}
    30% { transform: scale(1);}
    100% { transform: scale(1);}
}

.txt:nth-child(3),
.txt:nth-child(7),
.particle:nth-child(3),
.particle:nth-child(7) {
    animation: pulse2 30s ease-in-out infinite;
}

@keyframes pulse2 {
    0% { transform: scale(1)}
    1% { transform: scale(1)}
    2% { transform: scale(0.4)}
    4% {transform: scale(1)}
    5% { transform: scale(1);}
    20% { transform: scale(1)}
    21% { transform: scale(1)}
    22% { transform: scale(0.4)}
    24% {transform: scale(1)}
    25% { transform: scale(1);}
    100% { transform: scale(1);}
}

.leftSpin {
    animation: leftSpin 60s linear infinite;
}

@keyframes leftSpin {
    0% {
        transform: rotate(0deg) translate(0);
    }
    1% {
        transform: rotate(0deg) translate(0);
    }
    4% {
        transform: rotate(360deg) translate(5vmin);
    }
    5% {
        transform: rotate(360deg) translate(0);
    }
    10% {
        transform: rotate(0deg) translate(0);
    }
    11% {
        transform: rotate(0deg) translate(0);
    }
    14% {
        transform: rotate(360deg) translate(5vmin);
    }
    15% {
        transform: rotate(360deg) translate(0);
    }
    100% {
        transform: rotate(360deg) translate(0);
    }
}

.rightSpin {
    animation: rightSpin 60s linear infinite;
}

@keyframes rightSpin {
    0% {
        transform: rotate(360deg) translate(0);
    }
    1% {
        transform: rotate(360deg) translate(0);
    }
    4% {
        transform: rotate(0deg) translate(5vmin);
    }
    5% {
        transform: rotate(0deg) translate(0);
    }
    10% {
        transform: rotate(360deg) translate(0);
    }
    11% {
        transform: rotate(360deg) translate(0);
    }
    14% {
        transform: rotate(0deg) translate(5vmin);
    }
    15% {
        transform: rotate(0deg) translate(0);
    }
    100% {
        transform: rotate(0deg) translate(0);
    }
}