body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-height: 100vh;
	background-color: var(--body-bgcolor);
}

#main-menubutton {
	visibility: hidden;
	z-index: 100;
}

#main-menu {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100vh;
	border-radius: 0 0 10vmin 0;
	background-color: var(--label-bgcolor);
	transition: var(--basic-transition) ease-in;
}

#main-menulabel {
	position: absolute;
	top: 0;
	left: calc(100% - 10vmin);
	width: 10vmin;
	height: 10vmin;
	border-radius: 0 0 3.33vmin 0;
	z-index: 100;
	transition: var(--basic-transition) ease-in;
}

#main-menubutton:checked~#main-menu {
	width: 10vmin;
	height: 10vmin;
	border-radius: 0 0 3.33vmin 0;
	transition: var(--basic-transition) ease-in;
}

#main-menubutton:checked~#main-menu div {
	display: none;
}

#main-menubutton:checked~#main-menulabel {
	left: 0;
	transition: var(--basic-transition) ease-in;
}

#main-menu-icon i {
	position: absolute;
	top: 0;
	right: 0;
	width: 10vmin;
	height: 10vmin;
	text-align: center;
	line-height: 10vmin;
	font-size: 3rem;
	opacity: 0.4;
}

#main-menu-icon i:hover {
	font-size: 3.3rem;
	opacity: 1;
	cursor: pointer;
	transition: var(--basic-transition) ease-in;
}

#main-menubutton:checked+.menulabel .menu-icon #main-menu-open {
	display: block;
}

.menulabel .menu-icon #main-menu-open {
	display: none;
}

#main-menubutton:checked+.menulabel .menu-icon #main-menu-close {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	padding: 0.25em 1.5% 0;
	max-width: 75%;
}

article {
	margin: 1em;
	padding: 0.5em;
	background-color: white;
	border: 1px solid black;
}

article a {
	display: initial;
}

article p {
	margin: 0.5em 0 0 0;
	text-align: justify;
	text-indent: 2em;
}

article p::first-letter {
	font-size: 107%;
	font-weight: 900;
	text-transform: uppercase;
	color: navy;
}

article img {
	display: block;
	margin: 0.5em auto;
}

ul, ol {
	display: table;
	margin: 0.5em 10% 0;
}

img {
	max-width: 80%;
}